<div class="app">
  <div *ngIf ="service.getCurrent(); else finished">
    <div class='AnswerList-title'>
      Ответьте на все вопросы
    </div>
    <div class='Quiz'>
      <div class='Quiz-info dflex' >
          <div class='Quiz-info-title'>
            {{QuizService.quizes.activQuiz +1}}.{{service.getCurrent().Questions}}
          </div>
          <div class='Quiz-info-current'>
              {{QuizService.quizes.activQuiz +1}} из {{QuizService.quizes.items.length}}
          </div>
      </div>
      <div class='Quiz-answers'>
        <div *ngFor="let item of service.getCurrent().Answers; let idx = index;" (click) ="answer(idx)">
          {{item}}
        </div>
      </div>
  </div>
  </div>
  <ng-template #finished>
    <div class='finished'>
      <div class='finished-points'>
        Ваши баллы: {{QuizService.quizes.currentPoints}} из 100
      </div>
      <div class='finished-btn'>
          <button (click) = "goRestart()">Пройти еще раз</button>
      </div>
    </div>
  </ng-template>
</div>