.app{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .AnswerList-title{
        font-size:33px;
    }
}
.Quiz{
    border:2px solid #fff;
    border-radius: 5px;
    margin-top:20px;
    padding:30px 15px; 
    min-width: 600px;
    border:1px solid grey;
   .Quiz-info{
       align-items: center;
       .Quiz-info-title{
           font-size:24px;
       }
   }
   .Quiz-answers{
       margin-top:15px;
       >div{
           cursor:pointer;
           padding:5px;
           border-radius:5px;
           border:2px solid #fff;
           margin-top:12px;
           border:1px solid grey;
           &:hover{
               background-color: #f5a0ac;;
           }
       }
   }
}
.finished{
    border: 2px solid grey;
    padding: 30px;
    font-size: 29px;
        .finished-btn{
            margin-top:25px;
            display: flex;
            justify-content: center;
            button{
                cursor:pointer;
                font-size: 16px;
                padding: 14px;
                border-radius: 5px;
                color: #fff;
                background-color: #48a5ef;
            }
        }
}
.dflex{
    display: flex;
    justify-content: space-between;
}
.succes{
    background-color: blue !important;
}
.fail{
    background-color: red !important;
}